body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: rgb(77, 77, 77);
    color: black;

}

table{
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(180, 180, 180);
    border-radius: 8px;
    box-shadow: 0px 4px 10px black;

}

th, td {
    border: 1px solid black;
    padding: 12px 15px;
    text-align: left;
}
th{
    background-color: brown;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
}
td:hover{
    background-color: rgb(74, 116, 102);
}

caption{
    font-weight: bold;
    padding: 10px;
    font-size: 1.2em;
    color: burlywood;
    background-color: blueviolet;
    border-radius: 8px;
    margin-bottom: 10px;
}

tbody tr:nth-child(even){
    background-color: darkgoldenrod;
}