body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: black;
}

dl {
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border-left: 5px solid black;
}
dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
}
dd {
    font-style: italic;
    color: blueviolet;
}
.listaNaoOrdenada {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    background-color: antiquewhite;
}
.listaNaoOrdenada li {
    margin-bottom: 10px;
    padding-left: 10px;

}
ol > ul {
    color: blue;
    background-color: azure;
}