
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    min-width: 100vw;
}


header {
    background-color: #353434c4;
    color: rgb(3, 3, 3);
    padding: 20px;
    text-align: center;
    background-image: url('Header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: auto;
}


header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #fcf9f9;
}


.container {
    display: flex;
    flex-grow: 1; 
    max-width: 1980px;
    margin: 0 auto;
    width: 100%; 
    background-color: #a8a6a6
}


section {
    background-color: #f4f4f41f;
    padding: 20px;
    width: 70%; 
}

section h2 {
    color: #333;
}

section img {
    width: auto;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
    margin-inline: 90px;
}


aside {
    background-color: #ddddddf8;
    padding: 20px;
    width: 30%; 
}

aside ul li :hover{
    color: #050505;
}


footer {
    background-color: #333;
    color: rgb(247, 247, 250);
    text-align: center;
    padding: 10px 0;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    section, aside {
        width: 100%;
    }
}
